{% extends 'main.html' %}
{% block content %}

<div class='info'><h2>Distribution</h2></div>
<div id=chart_container>
<canvas id="chart"></canvas>
</div>

<style type="text/css">
    #chart_container {
        width: 100%;
    }
</style>

<script>
   var barData = {
    labels : {{x | safe}},
    datasets : [
        {
            backgroundColor: "rgba(255, 65, 54, 1)",
            data : {{y | safe}}
        }
      ]
   };

   var options = {
        legend: {display: false},
        scales: {
            yAxes: [{
              ticks: {min: 0, max: {{axis_ceiling(y | sort | last)}} },
            }],
            xAxes: [{
                gridLines: {display: false},
            }]
        }
    };

    // get bar chart canvas
    var ctx = document.getElementById("chart").getContext("2d");

    var Chart = new Chart(ctx, {
        type: 'bar',
        data: barData,
        options: options,
    });

</script>

{% endblock %}
