<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1">
    <script src='{{url_for("static", filename="Chart.min.js")}}'></script>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}" />
</head>
<body>

<div class='notice'>
  <p>
  Hey! Quick update. We changed walking services and the new service shows
  timestamped walks through their online portal. I am no longer running the
  scraper and the data is not up to date.
  </p>

  <p>
    In case you're interested, you can look at the data I collected in
    <a href={{url_for("static", filename="walks.csv")}}>this CSV file</a>.
  </p>
</div>

<center><h1>Dog Walker Report</h1></center>

<div class='info' id='today'>
    <h2>Today's Walk</h2>
    <p><i>Data no longer being collected.</i></p>
</div>

{% block content %}
{% endblock %}

</body>
</html>
