<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1">
    <script src='{{url_for("static", filename="Chart.min.js")}}'></script>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}" />
</head>
<body>

<center><h1>Dog Walker Report</h1></center>

<div class='info' id='today'>
    <h2>Today's Walk</h2>
    {% if today %}
        <p>Patches went on his walk already!</p>
        {% for key, value in today.items() %}
            <p>- {{value}}</p>
        {% endfor %}
    {% else %}
        {% if weekday > 4 %}
            <p>It's the weekend! probably no walk today.</p>
        {% else %}
            <p>No walk so far ...</p>
        {% endif %}
    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>